html, body {
    min-height: 100%;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-size: 150%;
}

body::after {
    content: "";
    background: url('../images/gibz.jpeg');
    opacity: 0.25;
    top: 0;
    left: -650px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

#page-content {
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 72px;
    margin-bottom: 0;
}

.carousel {
    background-color: rgba(10, 10, 100, 0.3);
    border-radius: 20px;
}

#slider-controls {
    padding-bottom: 1.5rem;
}

#slider-controls span {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    border-radius: 50%;
    background-color: black;
    font-size: 75%;
    cursor: pointer;
}

#slider-controls span:first-of-type {
    margin-right: 10px;
}

#slider-controls span:last-of-type {
    margin-left: 10px;
}

#slider-controls span svg {
    position: relative;
    top: 7px;
}

#slider-controls span svg path {
    fill: white;
}

.statement {
    text-align: left;
}

.statement blockquote {
    color: rgb(0, 0, 180);
    margin: 0;
    font-family: "Comic Sans MS", fantasy;
    font-size: 85%;
}

.statement figcaption {
    padding-top: 20px;
    font-size: 70%;
    color: rgb(0, 0, 120);
}

.call-to-action {
    font-weight: bold;
}

#like-container {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#like-button {
    border-radius: 3px;
    padding: 15px 30px;
    color: white;
    display: flex;
    align-content: center;
    font-size: 150%;
    cursor: pointer;

    background-color: #2b4170; /* fallback color */
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    text-shadow: 0 -1px -1px #1f2f52;
}

#like-button:hover {
    background-color: #3b5998; /* fallback color */
    background: -moz-linear-gradient(top, #2b4170, #3b5998);
    background: -ms-linear-gradient(top, #2b4170, #3b5998);
    background: -webkit-linear-gradient(top, #2b4170, #3b5998);
}

#like-button.not-fully-visible path {
    transform: rotate(180deg);
    transform-origin: center;
}

#thumb {
    width: 38px;
}

#like {
    padding-top: 5px;
    margin-left: 20px;
}